<!-- Page Header -->
<header class="masthead" style="background-image: url(<%- url_for(theme.index_cover) %>)">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<div class="site-heading">
					<h1><%- config.title %></h1>
					<span class="subheading"><%- config.subtitle %></span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
			<% page.posts.each(function(item) { %>
				<%- partial('_partial/post-preview', {item: item}) %>
			<% }) %>
			<%- partial('_partial/pagination') %>
		</div>
	</div>
</div>