<%
	var items = []
	var title = ''
	var isTagIndex = page.type === 'tags' || page.type === 'tag'
	var isCategoryIndex = page.type === 'categories' || page.type === 'category'
	if (isTagIndex) {
		items = site.tags
		title = __('tags')
	} else if (isCategoryIndex) {
		items = site.categories
		title = __('categories')
	}
%>

<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="masthead" style="background-image: url(<%- url_for(theme.index_cover) %>)">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<div class="site-heading">
					<h1><%- title %></h1>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
			<% items.forEach(function(item){ %>
				<div class="post-preview">
					<a href="<%- config.root %><%- item.path %>">
						<h1 class="post-title archive">
							<%- item.name || "Untitled" %>
						</h1>
					</a>
				</div>
			<% }); %>
			<div class="archive-before-pagination"></div>
		</div>
		<!-- Comments -->
		<% if (page.comments) { %>
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<%- partial("_partial/comments.ejs") %>
			</div>
		<% } %>
	</div>
</div>
