<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
	var cover = page.cover || theme.index_cover
%>
<header class="masthead" style="background-image: url('<%- url_for(cover) %>')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<div class="post-heading">
					<h1><%- page.title || theme.default_post_title || "Untitled" %></h1>
					<% if (page.subtitle && page.subtitle.length) { %>
						<h2 class="subheading"><%- page.subtitle %></h2>
					<% } %>
					<span class="meta">
						<!-- Date and Author -->
						<% if (page.author) { %>
							Posted by <%- page.author %> on
						<% } %>
						<%= page.date.format(config.date_format) %>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Post Content -->
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<%- page.content %>
			</div>
		</div>
	</div>
</article>