<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
	var cover = page.cover || theme.index_cover
%>
<header class="masthead" style="background-image: url('<%- url_for(cover) %>')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<div class="post-heading">
					<h1><%- page.title || theme.default_post_title || "Untitled" %></h1>
					<% if (page.subtitle && page.subtitle.length) { %>
						<h2 class="subheading"><%- page.subtitle %></h2>
					<% } %>
					<span class="meta">
						<!-- Date and Author -->
						<% if (page.author) { %>
							Posted by <%- page.author %> on
						<% } %>
						<%= page.date.format(config.date_format) %>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Post Content -->
<article>
	<div class="container">
		<div class="row">
			<!-- Tags and categories -->
			<% if (page.categories && page.categories.length || page.tags && page.tags.length) { %>
				<div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1 post-tags">
					<% if (page.tags && page.tags.length){ %>
						<%- partial('_partial/post-tags', {item: page}) %>
					<% } else { %>
						<%- partial('_partial/post-categories', {item: page}) %>
					<% } %>
				</div>
				<div class="col-lg-4 col-md-5 post-categories">
					<% if (page.tags && page.tags.length && page.categories && page.categories.length){ %>
						<%- partial('_partial/post-categories', {item: page}) %>
					<% } %>
				</div>
			<% } %>

			<!-- Gallery -->
			<% if (page.photos && page.photos.length){ %>
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
					<div class="row">
						<% page.photos.forEach(function(photo){ %>
							<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
								<a href="#" data-featherlight="<%- photo %>">
									<img src="<%- photo %>" class="img-thumbnail" />
								</a>
							</div>
						<% }) %>
					</div>
				</div>
			<% } %>

			<!-- Post Main Content -->
			<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
				<%- page.content %>
			</div>
		</div>
	</div>
</article>